@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  margin: auto;
  color: white;
}
.blog-view {
  overflow-wrap: break-word;

  h1 {
    font-size: 48px;
  }
  a {
    color: blue;
    font-weight: 600;
    text-decoration: underline;
  }
  pre {
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
