.gradient-blue-background{

    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #10171f, #3d5775);
    background-size: 100%;
    -webkit-background-clip:initial;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}